/*This css file is for the home page of zaclopez-ibanez.com*/

@font-face{
    font-family: 'Nunito';
    src: url('fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype'),
         url('fonts/Nunito/Nunito-Light.ttf') format('truetype'),
         url('fonts/Nunito/Nunito-Regular.ttf') format('truetype'), url('fonts/Nunito/Nunito-Black.ttf') format('truetype'),;
}


@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color: #fff;
}
body{
margin:0 auto;

    width:100%;
   height:100%;

}

.page-container{
    margin:0 auto;
    width:100%;
    height:100%;
    background-color:#f2f2f2;
}

.background img{
       display: block;
    position: relative;
    width: 40%;
    margin: 0 auto;
    top: 100px;
    opacity: 0.7;
    width: 80%;
    max-width: 550px;

}

#maintext{
position: absolute;
    margin: 0 auto;
    left: 52.7%;
    top: 450px;
    opacity:0.3;
    
    
}
#work h2{
    position: absolute;
    top:30px;
    left:40px;
    text-decoration: underline;
    color:#555;
    font-weight: 900;
    opacity:0.6;
}
#work h2:hover{
    
    color:#f2de9b;
}
#cv h2{
     position: absolute;
    top:30px;
    right:40px;
    color:#999;
    font-weight: 500;
    
}
#cv h2:hover{
  color:#f2de9b;
}
#info h2{
     position: absolute;
    bottom:100px;
    left:40px;
    color:#999;
    opacity: 0.5;
    font-weight: 200;
    width:50px;
    margin:0;
    
}
#info h2:hover{
    color:#f2de9b;
}
#vertical{
    position:absolute;
    width:100px;
    height:100px;
    left:20%;
}
#vertical h2{
    position: relative;
    padding-right: 0px;
    left: 21%;
    top: -400px;
    color: #999;
    opacity: 0.9;
    font-weight: 200;
    transform: rotate(90deg);
    width: 80px;
    height: 100px;
    margin: 0;
}
#vertical h2:hover{
    color:#f2de9b;
}
#line h2{
    margin:20px 0;
     position: relative;
    padding:10px;
    left: 73%;
    top:-100px;
    color: #999;
    opacity: 0.9;
    font-weight: 200;
    width:200px;
}
#circ{
     margin:0 ;
    padding:0;
    position: absolute;
    right: 5%;
    bottom: 50px;
    width: 50px;
    height:50px;
    border: solid #777 1px;
    border-radius: 50px;
    display:block;
    transition: all 1s ease-out;
    
}
#circ:hover{
    background-image:url(../images/playbutton_light.png);
    background-size: 100%;
    border: solid #ccbca3 1px;
    background-position: -.3px -.3px;
}

a{
  text-decoration: none;  
    margin:0;
    padding:0;
}


h1{
    font-size: 155px;
    font-weight:400;
    font-family: 'Rozha One', serif;
    
    
    
}
h2{
    font-size: 22px;
    font-family: 'Nunito',sans-serif;
    font-weight:100;
}
.navtext{
    margin:0 auto;
    //padding:5px 10px;
    
}
/*Start of mobile nav*/
.mobilenav {
  right:0px;
  overflow:visible;
position:absolute;
  width:5%;
  height:15px;
  min-width:100px;
    padding: 0px;
    margin:0px;
 
}

.mobilenav #myLinks{
  display:none;
   background-color:rgba(255,255,255,0.2);
    position: relative;
    top:40px;
    right:0px;
}

.mobilenav a {
  color: white;
  padding: 5px 0 5px 5px;
    
  text-decoration: none;
  font-size: 14px;
  display: block;
  font-family: 'Nunito',sans-serif;
  font-weight:100;
 
}

.mobilenav a.icon {
    background-color:rgba(255,255,255,0.2);
    position: absolute;
    width:100%;
    height:30px;
    top: 0px;
    visibility:visible;
    cursor:pointer;
  
}


.mobilenav a:hover {
  background-color:rgba(255,255,255,0.5);
  color: #000;
}
.active {
  background-color: #4CAF50;
  color: white;
}



@media only screen and (max-width: 768px) {
    /*
     body{
        background-image: url('../images/mobilebackground.jpg');
    }
    
    .mobilenav a.icon {
        visibility:visible;
    
    }
    
    h1 ,h2{
       font-size:16px; 
    }
    h2{
        visibility:collapse;
    }
    */
   h1{
       font-size:120px; 
       //color:#999;
       
    }
    #maintext{
        overflow: hidden;
        position: absolute;
        display:none;
    margin: 0 auto;
    left: 33.7%;
    top: 340px;
        
    }
    #circ{
        display:none;
    }
    #line h2{
        top: 100px;
        left:40%;
    }
    #vertical h2{
        display:none;
    }
    #info h2{
        top:585px;
        left:40px;
        margin-bottom:0;
    }
    .page-container{
        padding-top:50px;
    }
}
/*
@media only screen and (min-width: 600px) {
    
.mobilenav #myLinks{
       visibility:hidden; 
    }
}
*/