/*This css file is for the home page of zaclopez-ibanez.com*/

@font-face{
    font-family: 'Nunito';
    src: url('fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype'),
         url('fonts/Nunito/Nunito-Light.ttf') format('truetype'),
         url('fonts/Nunito/Nunito-Regular.ttf') format('truetype'), url('fonts/Nunito/Nunito-Black.ttf') format('truetype'),;
}
html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    
}
body{
margin:0;
padding:0;
background-image: url('images/background.jpg');
background-repeat: no-repeat;
background-size: 100%;
}

.navbar{
    width:100%;
    height:5%;
    max-height:40px;
    position: relative;
    display: block;
    //background-color:rgba(222,222,222,0.8);
    
}
.weblinks{
    width:90%;
    height:100%;
    
    
}
table{
    width:90%;
    height:100%;
   
}
h1{
    font-size: 22px;
    font-weight:400;
    float:left;
    padding:0px 5%;
    font-family: 'Nunito',sans-serif;
    color:#000;
    
    
}
h2{
    font-size: 22px;
    font-family: 'Nunito',sans-serif;
    color:#000;
    font-weight:100;
}
.navtext{
    margin:0 auto;
    //padding:5px 10px;
    
}
/*Start of mobile nav*/
.mobilenav {
  float:right;
  overflow: hidden;
  width:10%;
  height:100%;
  min-width:100px;
 
}

.mobilenav #myLinks{
  display: none;
  //visibility: collapse;
}

.mobilenav a {
  color: white;
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  //background-color:#555;
  font-family: 'Nunito',sans-serif;
  font-weight:100;
 
}

.mobilenav a.icon {
  background: #000;
  position: absolute;
    width:10px;
    height:10px;
  right: 1%;
  top: 5%;
  //transform: translate (-50%, -50%);
  visibility:collapse;
    cursor:pointer;
  
}
.hamburger{
    width:100%;
    height:1.5px;
    background:#fff;
    position:relative;
    
}

.mobilenav a:hover {
  background-color:rgba(255,255,255,0.2);
  color: #000;
}
.active {
  background-color: #4CAF50;
  color: white;
}

/*End of mobile nav*/

@media only screen and (max-width: 600px) {
    
    .mobilenav a.icon {
        visibility:visible;
    
    }
    
    h1 ,h2{
       font-size:16px; 
    }
    h2{
        visibility:collapse;
    }
}
@media only screen and (min-width: 600px) {
.mobilenav #myLinks{
       visibility:collapse; 
    }
}