/*
 * Globals
 */
     @font-face{
    font-family: 'Didot';
    src: url('fonts/HTF-Didot/Didot HTF L42 Light.otf') format('opentype'),
         url('fonts/HTF-Didot/Didot HTF M42 Medium.otf') format('opentype'), url('fonts/HTF-Didot/Didot HTF B42 Bold.otf') format('opentype');
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
 h1,h2,h3,.subTitle{
         font-family:"Didot, sans-serif";
     }
     h5{
         font-family:"Didot, sans-serif";
         color:#fff;
     }
     h5:hover{
         color:rgba(255,255,255,0.5);
     }
     
    
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */


html, body {
  height: 100%;
  background-color: #333;
    
}


body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  //box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}
body.home{
  background-image:url("images/CAFE-GITANE_1920x1080Web_yellow.jpg");
  background-size:cover;

}

img.kitchen:hover{
    
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #C5D8DC;
}
.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;

}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
.main{
   
    width:100%;
   height:100%
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
